* {
	margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
	margin-bottom: 20px;
}

html, body {
	height: 100%;
}

nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 1.0);
	z-index: 1000;
	text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	margin-right: 20px;
	line-height: 50px;
}

nav ul li a:hover {
	color: grey;
}

nav ul li:hover ul {
    display: block;
}

nav ul ul {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	text-align: left;
    border-top: 0;
    margin-left: 0;
}

nav ul ul li {
    display: block;
    margin-left: 0;
}

nav ul ul li a:hover {
    color: grey;
}

.center-grey{
       background:#f2f2f2;
}

.slider{
	position: fixed;
	width: 100%;
}

.slide{
	position:fixed;
	top:50px;
	width: 100%;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.leftArrow {
	position: fixed;
	top: 200px;
	left: 2%;
	font-size: 40px;
}

.rightArrow {
	position: fixed;
	top: 200px;
	right: 2%;
	font-size: 40px;
}

.arrowColour {
	color: #C0C0C0;
}

.leftArrow a span {
   visibility: hidden;
}  

.leftArrow:hover a span {
   visibility: visible;
}

.rightArrow a span {
   visibility: hidden;
}  

.rightArrow:hover a span {
   visibility: visible;
}

.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}
 
.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.loginWindow {
	position:fixed;
	top:75px;
	width: 100%;
}

.modal-dialog.style {
	 width:800px;
	 max-width:900px;
}

.btn.btn-primary.btn-signin {
	width: 125px;
	float: right;
}

.searchWindow {
	position:fixed;
	top:75px;
	width: 100%;
}