html,
body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

div.wrap {
    width:960px;
    margin: auto;
	align-content: center;
}

.loginWindow {
	position:fixed;
	height: 100%;
    width: 100%;
}

.modal-dialog.style {
	 top:75px;
	 width: 800px;
	 margin-left: 80px;
}

.btn.btn-primary.btn-signin {
	width: 125px;
	float: right;
}

.registrationWindow {
	position:fixed;
}

.footer_home{
	position: relative;
  	top: 50px;
  	height: 200px;
  	background:rgba(0, 0, 0, 0.7);
  	width: 100%;
	float: left;
}

.heading {
	font-size:1.20rem;
	font-weight:500;
	color: white;
	margin-top: 25px;
	margin-left: 20px;
	margin-bottom: 15px;
}

.textStyling {
	font-size:1.15rem;
	font-weight:300;
	color: white;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
}