div.wrap {
    width:960px;
    margin: auto;
	align-content: center;
}

nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 1.0);
	z-index: 1000;
	text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	margin-right: 20px;
	line-height: 50px;
}

nav ul li a:hover {
	color: grey;
}

nav ul li:hover ul {
    display: block;
}

nav ul ul {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	text-align: left;
    border-top: 0;
    margin-left: 0;
}

nav ul ul li {
    display: block;
    margin-left: 0;
}

nav ul ul li a:hover {
    color: blue;
}

.center-grey{
       background:#f2f2f2;
}

.slider{
	position: fixed;
}

.slide{
	position:fixed;
	top:50px;
}

.slide img {
    max-width: 960px;
    height: 460px;
}

.leftArrow {
	position: fixed;
	top: 210px;
	margin-left: 20px;
	font-size: 40px;
}

.rightArrow {
	position: fixed;
	top: 210px;
	margin-left: 900px;
	font-size: 40px;
}

.arrowColour {
	color: #C0C0C0;
}

.leftArrow a span {
   visibility: hidden;
}  

.leftArrow:hover a span {
   visibility: visible;
}

.rightArrow a span {
   visibility: hidden;
}  

.rightArrow:hover a span {
   visibility: visible;
}

.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}
 
.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.loginWindow {
	position:fixed;
}

.modal-dialog.style {
	 top:75px;
	 width: 800px;
	 margin-left: 80px;
}

.loginNameStyle {
	color: #ffffff;
}

.btn.btn-primary.btn-signin {
	width: 125px;
	float: right;
}

.container.innerContainer {
    width: 960px;
    background-color: #f2f2f2;
    padding-top: 120px; /* Only to demonstrate */

	border: black;
}

.bikeCategory {
	position:fixed;
	top:50px;
	height: 60px;
	background-color: #f2f2f2;
	text-align: center;
	width: 960px;
	border: black;
}