.productDetailSection {
	position: absolute;
	top:50px;
}

.imageSection {
    top: 50px;
    position: relative;
    width: 60%;
    float: left;
}

.cartSection {
    top: 50px;
    position: relative;
    margin-right: 5%;
    width: 30%;
    float: right;
}

.cartSection h3{
    font-family:'Lato', sans-serif;
    color: red;
}

.cartSection h4{
    font-family:'Lato', sans-serif;
    color: darkgrey;
    font-weight:900;
}

.productdetailtabs{
    margin-top: 50%;
}