.container.searchContainer{
  width: 100%;
  height: 100%;
  background-color: floralwhite;
}
.rightpane {
  width: 80%;
  height: 100%;
  position: relative;
  float: right;
  background-color: floralwhite;
  border: dotted 1px lightgrey;
}
.leftpane {
    width: 20%;
    height: 100%;
    float: left;
    background-color: floralwhite;   
    border: dotted 1px lightgrey;
}

.breadcrumbback {
    background:#a18c29;
}
.breadcrumb {
  padding: 1px 3px 1px 4px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #5dc40d;
  border-radius: 0px;
  font-size:13px;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li a {
  color:#fff;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #cccccc;
  content: "/\00a0";
}

.breadcrumb > .active {
  color:#000;
}

.toppane {
    margin-top: 50px;
    color: whitesmoke;
    width: 100%;
    border-collapse: collapse;
    background-color: floralwhite;
    text-align: center;
    border-bottom: dotted 1px lightgrey;
    background-image: url("/images//roadbikebackground.jpg");
}
