.container.searchContainer{
 display: flex;
 flex-direction: column;
}

.toppane {
    margin: 50px 0px 5px;
    color: whitesmoke;
    flex: 1;
    background-image: url("/images//roadbikebackground.jpg");
    text-align: center;
    height: 50px;
}

.searchPanelContainer {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.leftpane {
    flex: 1;
    flex-basis: 15%;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

.rightpane {
    flex: 5;
    flex-basis: 70%;
    border: 1px solid black;
    padding: 5px;
    margin-left: 5px;
    box-sizing: border-box;
}

.category {
    margin-top: 5px;
}


