<div ng-controller="NavController as navCtrl">
		<nav>
			<ul>
				<li>
					<a href="/index.html">Home</a></li>
				<li>
					<a href="#">Bicycles</a>
					<ul>
						<li><a href="#" ng-click="navCtrl.showSearchPage('roadbikes')">Road Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('mountainbikes')">Mountain Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('kidsbikes')">Kids Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('bmxbikes')">BMX Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('hybridbikes')">Hybrid Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('vintagebikes')">Vintage Bikes</a></li>
					</ul>
					<a href="#">Accessories</a></li>
				<li>
					<a href="#">Services</a></li>
				<li>
					<a href="#">Support</a></li>
				<li>
					<a href="#"><img class="imageAlign" src="images/shopping_cart.jpg" alt="shopping_cart" /></a>
					<ul>
						<li><a href="#">Bag</a></li>
						<li><a href="#">Favourites</a></li>
						<li><a href="#">Orders</a></li>
						<li><a href="#">Account</a></li>
						<li ng-hide="ctrl.loginName"><a href="#" ng-click="ctrl.showLoginPage()">Sign In</a></li>
						<li ng-show="ctrl.loginName"><span class="loginNameStyle">Hi {{ctrl.loginName}}!</span><a href="#">Sign Out</a></li>
					</ul>
				</li>
			</ul>
		</nav>
</div>