<div ng-controller="NavController as navCtrl">
		<nav>
			<ul class="menu">
				<li>
					<a href="#" ng-click="ctrl.showHomePage()"><span class="glyphicon glyphicon-home"></span></a>
				</li>
				<li>
					<a href="#">Bicycles</a>
					<ul class="subMenu">
						<li><a href="#" ng-click="navCtrl.showSearchPage('roadbikes')">Road Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('mountainbikes')">Mountain Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('kidsbikes')">Kids Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('bmxbikes')">BMX Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('hybridbikes')">Hybrid Bikes</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('vintagebikes')">Vintage Bikes</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Components</a>
				</li>
				<li>
					<a href="#">Tools & Maintainence</a>
				</li>
				<li>
					<a href="#">Accessories</a>
					<ul class="subMenu">
						<li><a href="#" ng-click="navCtrl.showSearchPage('bells&locks')">Bells & Locks</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('helmets')">Helmets</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('pumps')">Pumps</a></li>
						<li><a href="#" ng-click="navCtrl.showSearchPage('tyres&tubes')">Tyres & Tubes</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Services</a>
				</li>
				<li>
					<a href="#">Support</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-user"></span></a>
					<ul class="subMenu">
						<li><span class="glyphicon glyphicon-briefcase subMenuStyle"></span><a href="#">Bag</a></li>
						<li><span class="glyphicon glyphicon-heart subMenuStyle"></span><a href="#">Favourites</a></li>
						<li><span class="glyphicon glyphicon-gift subMenuStyle"></span><a href="#">Orders</a></li>
						<li><span class="glyphicon glyphicon-cog subMenuStyle"></span><a href="#">Account</a></li>
						<li ng-hide="ctrl.loginName"><span class="glyphicon glyphicon-user subMenuStyle"></span><a href="#" ng-click="ctrl.showLoginPage()">Sign In</a></li>
						<li ng-show="ctrl.loginName"><span class="glyphicon glyphicon-user subMenuStyle"></span><span class="subMenuStyle">Hi {{ctrl.loginName}}!</span><a href="#" ng-click="ctrl.signOut()">Sign Out</a></li>
					</ul>
				</li>
				<li class="searchAlignment">
					<a href="#"><span class="glyphicon glyphicon-search"></span></a>
				</li>
			</ul>
		</nav>
</div>