<div class="productDetailSection" ng-show="ctrl.enableProductDetailPage">
    <div class="imageSection">
        <p class="text-info">
            <img ng-src="{{navCtrl.productDetail.picture.medium}}" alt="{{navCtrl.productDetail.name}}" class="img-responsive" />            {{navCtrl.productDetail.description}}
            <br />
        </p>
    </div>

    <!-- buttons -->
    <div class="cartSection">
        <h4>{{navCtrl.productDetail.category}}</h4>
        <h3>{{navCtrl.productDetail.name}}</h3>
        <br/>
        <h4>Price</h4>
        <span ng-if="navCtrl.productDetail.discount === 0">
            <h3>{{navCtrl.productDetail.price | currency : "Rs"}}</h3>
        </span>
        <span ng-if="navCtrl.productDetail.discount > 0">
            <h3><s>{{navCtrl.productDetail.price | currency : "Rs"}}</s></h3>
            <h4>Discounted Price</h4>
            <h3>{{navCtrl.productDiscountedPrice | currency : "Rs"}}</h3>
        </span>
        <a href="#" title="go to shopping cart" ng-disabled="navCtrl.getTotalCount() < 1" ng-click="ctrl.showShoppingCartPage()">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <b>{{navCtrl.getTotalCount()}}</b> items, <b>{{navCtrl.getTotalPrice() | currency : "Rs"}}</b>
            <span ng-show="navCtrl.getTotalCount(navCtrl.productDetail) > 0"> this item is in the cart</span>
        </a>
        <br/>
        <button class="btn btn-block btn-success" ng-click="navCtrl.addItemToCart(navCtrl.productDetail.id, navCtrl.productDetail.name, navCtrl.productDiscountedPrice, 1)">
                <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
            </button>
        <button class="btn btn-block btn-danger" ng-click="navCtrl.addItemToCart(navCtrl.productDetail.id, navCtrl.productDetail.name, navCtrl.productDiscountedPrice, -10000)" ng-disabled="navCtrl.getTotalCount(navCtrl.productDetail) <= 0">
                <span class="glyphicon glyphicon-trash"></span> Remove from cart
            </button>
        <button class="btn btn-block" onclick="window.location.href=''">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Back to store
        </button>
        <button class="btn btn-block" ng-click="ctrl.showShoppingCartPage()" title="go to shopping cart" ng-disabled="navCtrl.getTotalCount() < 1">
            <span class="glyphicon glyphicon-shopping-cart"></span> Go to shopping cart
        </button>
    </div>

    <div class="productdetailtabs" ng-include="'html/productdetailtabs.html'"></div>

</div>