<div ng-controller="RegisterController as registerCtrl">
	<div class="registrationWindow" ng-show="ctrl.enableRegistrationPage">
		<div id="register-overlay" class="modal-dialog style">
			<div class="modal-content">
				<div class="modal-header">
                    <button type="button" class="close" ng-click="ctrl.showHomePage()">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Create Account</h4>
                    <span class="label label-danger" ng-if="registerCtrl.errorMessage">{{registerCtrl.errorMessage}}</span>
                    <span class="label label-success" ng-if="registerCtrl.successMessage">Registraion Successfull!</span>
                </div>
			</div>
		</div>
	</div>
</div>