<!--div ng-controller="SearchController as searchCtrl"-->
    <div class="container searchContainer" ng-show="ctrl.enableSearchPage">
        <div class="toppane">
            <H1>{{ctrl.searchCategory}}</H1>
        </div>

        <div class="leftpane">
            <h4>Filters</h4>
            <!--div class="breadcrumb">
            <div style="float:left">
                <i class="glyphicon glyphicon-home"></i>&nbsp;
            </div>
            <div>
                <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy" template-url="/html/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
            </div>
        </div-->
            <label><input type="text" ng-model="search.name" placeholder="Search" /></label>
            <br/>
            <br/>
            <label>Filter by Gender
            <ul>
                <input type="checkbox" ng-click="navCtrl.filterMaleFemale('male')"> Male/Unisex </input>
                <br>
                <input type="checkbox" ng-click="navCtrl.filterMaleFemale('female')"> Female </input>
                <br>
            </ul>
        </label>
            <br/>
            <br/>
            <label>Filter by Brand
            <br/>
            <div ng-repeat="m in ctrl.brands">
                <b><input type="checkbox" ng-model="useMakes[$index]"/>{{m}}</b>
                <br/>
            </div>
            
        </label>
        </div>
        <!-- Left Pane Closing DIV-->
        <div class="rightpane">
            <div class="row">
                <div class="col-xs-6 col-md-3" ng-repeat="bike in filtered = ctrl.bikes | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <a href="#" class="thumbnail">
                        <img ng-src="{{bike.picture.thumbnail}}" />
                    </a>
                    <a href="#">{{bike.name}}
							<p>Price {{bike.price}}</p>
			</a>
                </div>
            </div>
        </div>
    </div>

<!--Search container div End here   -->