<!--div ng-controller="SearchController as searchCtrl"-->
<div class="container searchContainer" ng-show="ctrl.enableSearchPage">
    <div class="toppane">
        <h1 class="category">{{navCtrl.searchCategory}}</h1>
    </div>

    <div class="searchPanelContainer">
        <div class="leftpane">
            <div><h4>Filters</h4></div>
            <div>
                <label><input type="text" ng-model="search.name" placeholder="Search" /></label>
            </div>
            <div>
                <div><label>Filter by Gender</label></div>
                <div><input type="checkbox" ng-click="navCtrl.filterData('male', 'gender')"> Male/Unisex </input></div>
                <div><input type="checkbox" ng-click="navCtrl.filterData('female', 'gender')"> Female </input></div>             
            </div>
            <div>
                <label>Filter by Brand</label>
                <div ng-repeat="m in navCtrl.brands">
                    <input type="checkbox" ng-click="navCtrl.filterData(m, 'brands')"/> {{m}}
                </div>
            </div>
        </div>

        <div class="rightpane">
            <div class="row">
                <div class="col-xs-3" ng-repeat="record in filtered = navCtrl.searchedData | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <a href="#" class="thumbnail" ng-click="navCtrl.showProductDetailPage(record)">
                        <img ng-src="{{record.picture.thumbnail}}" />
                    </a>
                    <strong>
                        <a href="#" ng-click="navCtrl.showProductDetailPage(record)"> 
                            <p>{{record.name}}</p>
                            <p>{{record.price | currency : "Rs"}}</p>
                            <div class="promotion">
                                {{record.offer}}
                            <div>
                        </a>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>